@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "LibreFranklin";
  font-style: normal;
  font-display: fallback;
  src: url("./fonts/LibreFranklin-Light.ttf");
}

@font-face {
  font-family: "Affectionately Yours";
  font-style: normal;
  font-display: fallback;
  src: url("./fonts/Affectionately-Yours.otf");
}
