@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "LibreFranklin";
  font-style: normal;
  font-display: fallback;
  src: url("./fonts/LibreFranklin-Light.ttf");
}

@font-face {
  font-family: "Affectionately Yours";
  font-style: normal;
  font-display: fallback;
  src: url("./fonts/Affectionately-Yours.otf");
}

:root {
  --gold: #e1c48f;
  --blue: #627a99;
  --gray-light: #c7ced6;
  --grey-dark: #707070;
  --black: #212121;
  --white: #fcfcfc;
}

::selection {
  background: var(--gray-light);
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--gold);
  text-decoration: none;
  background-color: transparent;
  outline-width: 0;
}
a:hover {
  color: inherit;
  background-color: var(--gray-light);
}
a:active {
  color: inherit;
  background-color: var(--blue);
}

mark {
  color: inherit;
  background-color: var(--gold);
}

img {
  border-style: none;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: var(--black);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p,
pre {
  font-family: LibreFranklin;
  font-size: 0.85028rem;
  line-height: 1.42;
  color: var(--grey-dark);
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

figcaption {
  display: block;
  margin: 0;
  font-family: LibreFranklin;
  text-align: center;
  font-size: 0.65rem;
  color: var(--grey-dark);
}

iframe {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin: 0;
  padding: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: var(--gray-light);
  border: none;
  height: 0.5px;
}

button {
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  display: inline;
  width: unset;
  border: none;
  color: var(--black);
  background: var(--gold);
  transition-duration: 0.3s;
  border-radius: 3px;
}

button:not([disabled]):hover {
  background: var(--gray-light);
}
button:active {
  background: var(--blue);
}
button:disabled {
  cursor: default;
  opacity: 0.25;
}

@media (max-width: 960px) {
  button {
    width: 100%;
  }
}

body {
  margin: 0;
  background-color: var(--white);
}

textarea,
input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--gold);
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background: none;
  margin-bottom: 0.5rem;
  font-family: "Roboto", Helvetica, sans-serif;
  transition: 0.1s;
  resize: vertical;
  font-size: 1rem;
}
textarea:focus,
input:focus {
  outline-color: var(--grey-dark);
}
textarea::placeholder,
input::placeholder {
  color: var(--gray-light);
}
