@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "LibreFranklin";
  font-style: normal;
  font-display: fallback;
  src: url("./fonts/LibreFranklin-Light.ttf");
}

@font-face {
  font-family: "Affectionately Yours";
  font-style: normal;
  font-display: fallback;
  src: url("./fonts/Affectionately-Yours.otf");
}

:root {
  --gold: #e1c48f;
  --blue: #627a99;
  --gray-light: #c7ced6;
  --grey-dark: #707070;
  --black: #212121;
  --white: #fcfcfc;
}

::selection {
  background-color: var(--gray-light);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  background-color: var(--white);
}

a,
a:link,
a:visited {
  color: var(--gold);
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--grey-dark);
  background-color: var(--gray-light);
  text-decoration: underline dotted var(--grey-dark) 0.08em;
}
a:active {
  color: var(--grey-dark);
  background-color: var(--blue);
  text-decoration: underline dotted var(--grey-dark) 0.08em;
}

mark {
  color: inherit;
  background-color: var(--gold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: var(--black);
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}

p,
pre {
  font-family: LibreFranklin;
  font-size: 0.85028rem;
  line-height: 1.42;
  color: var(--grey-dark);
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  text-rendering: optimizeLegibility;
}

p.title {
  font-size: 1rem;
}

div.container {
  max-width: 1280px;
  width: 92%;
  margin: auto;
  align-items: center;
}
@media (max-width: 960px) {
  div.container {
    width: 95%;
  }
}

div.wrapper {
  padding: 2.5rem 0;
}

div.media {
  margin-bottom: 1rem;
}

div.center {
  text-align: center;
}

div.brand {
  font-family: "Affectionately Yours";
  color: var(--gold);
  font-size: 20pt;
  cursor: default;
}

div.video {
  padding: 41.875% 0 0 0;
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

img {
  border: none;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0.5rem 0;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

figcaption {
  display: block;
  margin: 0;
  font-family: LibreFranklin;
  text-align: center;
  font-size: 0.65rem;
  color: var(--grey-dark);
}

hr {
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1024px;
  background-color: var(--gray-light);
  border: none;
  height: 0.5px;
}

button {
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  display: inline;
  width: unset;
  border: none;
  color: var(--black);
  background-color: var(--gold);
  transition-duration: 0.3s;
  border-radius: 3px;
}

button:not([disabled]):hover {
  background-color: var(--gray-light);
}
button:active {
  background-color: var(--blue);
}
button:disabled {
  cursor: default;
  opacity: 0.25;
}

button.secondary {
  background: none;
  color: #707070;
  border: 2px solid #707070;
}

button.secondary:hover:not([disabled]) {
  background: none;
  color: #212121;
  border: 2px solid #212121;
}
button.secondary:active {
  color: #212121;
  border: 2px solid #212121;
}

button.secondary:disabled {
  display: none;
}

@media (max-width: 960px) {
  button {
    width: 100%;
  }
}

textarea,
input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--gold);
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background: none;
  margin-bottom: 0.5rem;
  font-family: "Roboto", Helvetica, sans-serif;
  transition: 0.1s;
  resize: vertical;
  font-size: 1rem;
}
textarea:focus,
input:focus {
  outline-color: var(--grey-dark);
}
textarea::placeholder,
input::placeholder {
  color: var(--gray-light);
}
